{% extends "layouts/main.html" %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link govuk-link--no-visited-state" href="#">give your feedback (opens in new tab)</a>.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="details-we-hold" method="post">
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="doYouWantLetterFor-hint">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What do you need proof of?
              </h1>
            </legend>
            <div id="waste-hint" class="govuk-hint">
              You can select more than one.
            </div>
            <div class="govuk-checkboxes govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="doYouWantLetterFor" name="doYouWantLetterFor" type="checkbox" value="yes">
                <label class="govuk-label govuk-checkboxes__label" for="doYouWantLetterFor">
                  Personal Independence Payment (PIP)
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="doYouWantLetterFor-2" name="doYouWantLetterFor" type="checkbox" value="no">
                <label class="govuk-label govuk-checkboxes__label" for="doYouWantLetterFor-2">
                  Attendence Allowance
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
