{% extends "layouts/main.html" %}

{% block pageTitle %}
Request complete
{% endblock %}

{% block beforeContent %}

  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link govuk-link--no-visited-state" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Request complete
        </h1>
      </div>

      <p class="govuk-body">You have requested proof of Personal Independence Payment (PIP).</p>

      <h2 class="govuk-heading-m">
        View your proof of benefits online
      </h2>

      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="">Go to your letters, messages and downloads</a></p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <div class="govuk-body">
        A standard letter for your benefit should arrive within 8 days.
      </div>
      
      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Store and share proof on your phone</h2>
        You can now <a class="govuk-link govuk-link--no-visited-state" href="">add proof to the GOV.UK One Login app</a>. It’s the app you may use to sign in to a government service.
      </div>      
      
      <br>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Sign out
        </button>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Go back to account home
        </button>
      </div>

  </div>
</div>

{% endblock %}
