{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="q10" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Question 9 of 15</span>
              <h1 class="govuk-fieldset__heading">
                Which of these benefits was introduced first?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  A. Personal Independence Payment (PIP)
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  B. Univeral Credit
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales" checked>
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                  <strong>C. Disability Living Allowance</strong>
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Disability Living Allowance (DLA) was introduced in 1992, whereas Personal Independence Payment (PIP) and Universal Credit both started in 2013
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <script>
        function getFocus() {
          document.getElementById("whereDoYouLive").focus();
        }
        </script>
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
      
    </div>
  </div>

{% endblock %}
