{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--{% include "govuk-prototype-kit/includes/homepage-top.njk" %}-->

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/start">Start page</a>
    </p>

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/guidance-page">GOV.UK One Login</a>
    </p>

    <h2 class="govuk-heading-l">Option 1A</h2>
    <p class="govuk-body">Subtle integration into the 'Get proof of your benefits and State Pension' journey.</p>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v1/start">Start page</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v1/account-home">Account home</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v1/select-benefits-you-need-proof-of">Link</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v1/where-we-send-your-letter">Confirm your address</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v1/digital-or-letter-accessible-pdf">Tell us how you want to get proof of your benefits</a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-padding-top-6">Option 1B</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v2/account-home">Account home</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v2/select-benefits-you-need-proof-of">Link</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v2/where-we-send-your-letter">Confirm your address</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v2/digital-or-letter-accessible-pdf">Tell us how you want to get proof of your benefits</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-padding-top-6">Option 3</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v3/account-home">Account home</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v3/select-benefits-you-need-proof-of">Link</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v3/where-we-send-your-letter">Confirm your address</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/v3/digital-or-letter-accessible-pdf">Tell us how you want to get proof of your benefits</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-padding-top-6">Quiz</h2>

    <p><a class="govuk-link govuk-link--no-visited-state" href="get-proof-of-benefits/quiz/start">Start</a></p>

  </div>
</div>

{% endblock %}
